body{
  width: 650px;
  background: linear-gradient(to bottom, #edecec, #3a3a3a);
}
.contact-container{
  flex: 1;
    display: flex;
 margin: 0;
 padding: 0;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  left: 50%;
min-height: calc(100vh - 80px);
background: linear-gradient(to bottom, #edecec, #3a3a3a);
width: 100%;
}
 .contact-section {
    border-radius: 12px;
  margin-left: 10px; 
 }
.imgg{
  display: flex;
  flex: 1;
  overflow: hidden;
 box-shadow: 0 4px 12px rgba(0, 0, 0, 4);
 width: 100dvh;
 height: 490px;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
 .contact-info img {
 margin-right: 10px;
 display: flex;
 flex: 1;
 }
@media only screen and (max-width: 650px){
}
  input, textarea{
    width: 80%;
    padding: 12px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid grey;
    justify-content: space-between;
      border-radius: 5px;
  }
  textarea{
   padding-bottom: 20px;
 
  }

 .oka{
    background-color: #FFA628;
    border: none;
    width: 320px;
    height: 40px;
    border-radius: 8px;
    color: #fff;
    font-weight: 100px;
    font-size: 13px;
    cursor: pointer;
    margin-top: 20px;
    padding: 12px 30px;

    background: #f9a825;
  }
 
  
  input:invalid ~ button{
    opacity: .6;
    pointer-events: none;

  }