*{
  margin: 0;
  padding: 0;
}

.App-logos{
position: relative;
display: flex;
}
.Navbar{
   height: 100vh;
 width: 100vw;
 margin: 0;
 padding: 0;
 display: flex;
 justify-content: space-between;
  background-color: black;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
min-width: 960px;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: left;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}
.rock{
  padding-left: 5x;
  margin-left: 5px;
}
.Navbar .leftSide{
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;

}
.Navbar .rightSide{
  flex: 50%;
  height: 100%;
  align-items: center;
 color: #ffffff;
  margin-top: 15px;
}
.Navbar .rightSide .rs{
 text-decoration: none;
 margin: 20px;
 margin-top: 30px;
 background-color: transparent;
 border: none;
 color: white;
 cursor: pointer;
 font-size: 19px;
 transition: .4s ease-in;
}
.Navbar .rightSide .rs:hover{
 box-shadow: 1px 0 0 1px mediumslateblue;
 border-radius: 5px;
 transition: .34s ease-in-out;
 opacity: 0.95;

}


.rocky{
  color: white;
  display: flex;
}
@media  (max-width: 768px) {

.Navbar .rightSide .rs{
 text-decoration: none;
 margin: 20px;
 margin-top: 30px;
 background-color: transparent;
 border: none;
 color: white;
 cursor: pointer;
 font-size: 30px;
 transition: .4s ease-in;
 font-weight: bolder;
}
}
@media (max-width: 480px) {
.Navbar .rightSide{
  font-size: 30px;
}
    .Navbar{
    width: 480px;
  
}
}
@media (max-width: 360px) {
  .Navbar{
    width: 360px;
  }
.Navbar .rightSide button{
  justify-content: center;
  align-items: center;
  display: none;
   font-size: 40px;
}
.Navbar .rightSide .rs:hover{
 box-shadow: 1px 0 0 1px mediumslateblue;
 border-radius: 5px;
 transition: .34s ease-in-out;
 opacity: 0.95;


}
.Navbar .rightSide .rs{
 text-decoration: none;
 margin: 20px;
 margin-top: 30px;
 background-color: transparent;
 border: none;
 color: white;
 cursor: pointer;
 font-size: 30px;
 transition: .4s ease-in;
}
}